
html {
    background-color: #880e4f;
}

body {
    margin-bottom: 32px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, p {
    margin: 4px 16px;
    -webkit-text-fill-color: #efefef;
}

.centered {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.horizontal li {
    margin: 0 16px;
    display: block;
    float: left;
}

#bannerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ribbon {
    position: absolute;
    top: 42px;
    width: 200px;
    padding: 1px 0;
    background: #000;
    color: #eee;

    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.ribbon.left {
    left: -42px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.ribbon.right {
    right: -42px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ribbon a,
.ribbon a:visited,
.ribbon a:active,
.ribbon a:hover {
    display: block;
    padding: 1px 0;
    height: 24px;
    line-height: 24px;

    color: black;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.25em;
    font-weight: 500;

    border: 1px solid rgba(255, 255, 255, 0.3);

    -moz-text-shadow: 0 0 10px rgba(0, 0, 0, 0.31);
    -webkit-text-shadow: 0 0 10px rgba(0, 0, 0, 0.31);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.31);
}

.ribbon.white {
    background: #ffffff;
}

.ribbon.white a {
    border: 2px dotted rgba(100, 100, 100, 0.2);
}

.collapsible {
    background-color: #bc477b;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 2em;
    border-radius: 8px;
}

.active, .collapsible:hover {
    background-color: #560027;
}

.collapsible:after {
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {

}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms ease-out;
    background-color: white;
    border-radius: 8px;
    margin: 0 4px;
}

.content p {
    font-size: 2em;
    line-height: 2em;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-color: black;
}

.languagePicker {
    background-color: white;
    display: inline-block;
    padding: 0;
    height: 40px;
    overflow: hidden;
    width: 100px;
    transition: all 300ms ease-in-out;
    margin: 0 -100px 0 0;
    vertical-align: top;
    float: left;
    border-radius: 8px;
}

.languagePicker:hover {
    height: 170px;
}

.languagePicker a {
    color: #000;
    text-decoration: none;
}

.languagePicker li {
    display: block;
    padding: 0 20px;
    line-height: 40px;
    border-top: 1px solid #EEE;
}

.languagePicker li:hover {
    background-color: #EEE;
}

.languagePicker li img {
    margin-right: 5px;
}