@import "pages/res/common.css";

body {
    animation: fadeIn ease-in 500ms;
    -webkit-animation: fadeIn ease-in 500ms;
    -moz-animation: fadeIn ease-in 500ms;
    -o-animation: fadeIn ease-in 500ms;
}

#bannerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: fadeIn ease-in 1000ms;
    -webkit-animation: fadeIn ease-in 1000ms;
    -moz-animation: fadeIn ease-in 1000ms;
    -o-animation: fadeIn ease-in 1000ms;
}