@font-face {
    font-family: 'Droid Arabic Naskh';
    font-style: normal;
    font-weight: 400;
    /*noinspection CssUnknownTarget*/
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/DroidNaskh-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Droid Arabic Naskh';
    font-style: normal;
    font-weight: 700;
    /*noinspection CssUnknownTarget*/
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/DroidNaskh-Bold.woff2') format('woff2');
}

[class="ar"] {
    /*font-family: "Droid Arabic Naskh", serif;
    margin: 10px 2px;
    padding: 0 2px;*/
}