/** Droid Arabic Naskh */
@font-face {
    font-family: 'Droid Arabic Naskh';
    font-style: normal;
    font-weight: normal;
    src: local('Droid Arabic Naskh'), url('../../fonts/DroidNaskh.woff2') format('woff2');
}

/** Noto Nastaliq Urdu */
@font-face {
    font-family: 'Noto Nastaliq Urdu';
    font-style: normal;
    font-weight: normal;
    src: local('Noto Nastaliq Urdu'), url('../../fonts/NotoNastaliqUrdu.woff2') format('woff2');
}

/** Aref Ruqaa */
@font-face {
    font-family: 'Aref Ruqaa';
    font-style: normal;
    font-weight: normal;
    src: local('Aref Ruqaa'), url('../../fonts/ArefRuqaa.woff2') format('woff2');
}

/** Cairo */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: normal;
    src: local('Cairo'), url('../../fonts/Cairo.woff2') format('woff2');
}

/** Lemonada */
@font-face {
    font-family: 'Lemonada';
    font-style: normal;
    font-weight: normal;
    src: local('Lemonada'), url('../../fonts/Lemonada.woff2') format('woff2');
}

/** Lalezar */
@font-face {
    font-family: 'Lalezar';
    font-style: normal;
    font-weight: normal;
    src: local('Lalezar'), url('../../fonts/Lalezar.woff2') format('woff2');
}

/** Tajawal */
@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: normal;
    src: local('Tajawal'), url('../../fonts/Tajawal.woff2') format('woff2');
}

/** Changa */
@font-face {
    font-family: 'Changa';
    font-style: normal;
    font-weight: normal;
    src: local('Changa'), url('../../fonts/Changa.woff2') format('woff2');
}

/** El Messiri */
@font-face {
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: normal;
    src: local('El Messiri'), url('../../fonts/El-Messiri.woff2') format('woff2');
}

/** Lateef */
@font-face {
    font-family: 'Lateef';
    font-style: normal;
    font-weight: normal;
    src: local('Lateef'), url('../../fonts/Lateef.woff2') format('woff2');
}

/** Mada */
@font-face {
    font-family: 'Mada';
    font-style: normal;
    font-weight: normal;
    src: local('Mada'), url('../../fonts/Mada.woff2') format('woff2');
}

/** Markazi Text */
@font-face {
    font-family: 'Markazi Text';
    font-style: normal;
    font-weight: normal;
    src: local('Markazi Text'), url('../../fonts/Markazi-Text.woff2') format('woff2');
}

/** Mirza */
@font-face {
    font-family: 'Mirza';
    font-style: normal;
    font-weight: normal;
    src: local('Mirza'), url('../../fonts/Mirza.woff2') format('woff2');
}

/** Harmattan */
@font-face {
    font-family: 'Harmattan';
    font-style: normal;
    font-weight: normal;
    src: local('Harmattan'), url('../../fonts/Harmattan.woff2') format('woff2');
}

/** Rakkas */
@font-face {
    font-family: 'Rakkas';
    font-style: normal;
    font-weight: normal;
    src: local('Rakkas'), url('../../fonts/Rakkas.woff2') format('woff2');
}

/** Katibeh */
@font-face {
    font-family: 'Katibeh';
    font-style: normal;
    font-weight: normal;
    src: local('Katibeh-Regular'), url('../../fonts/Katibeh.woff2') format('woff2');
}

/** Jomhuria */
@font-face {
    font-family: 'Jomhuria';
    font-style: normal;
    font-weight: normal;
    src: local('Jomhuria'), url('../../fonts/Jomhuria.woff2') format('woff2');
}

/** Shakstah */
@font-face {
    font-family: 'Shakstah';
    font-style: normal;
    font-weight: normal;
    src: local('Shakstah'), url('../../fonts/Shakstah.woff2') format('woff2');
}

/** Mehr Nastaliq */
@font-face {
    font-family: 'Mehr Nastaliq';
    font-style: normal;
    font-weight: normal;
    src: local('Mehr Nastaliq'), url('../../fonts/MehrNastaliq.woff2') format('woff2');
}

/** Rooznameh */
@font-face {
    font-family: 'Rooznameh';
    font-style: normal;
    font-weight: normal;
    src: local('Rooznameh'), url('../../fonts/Rooznameh.woff2') format('woff2');
}

/** DecoType Naskh */
@font-face {
    font-family: 'DecoType Naskh';
    font-style: normal;
    font-weight: normal;
    src: local('DecoType Naskh'), url('../../fonts/DecoTypeNaskh.woff2') format('woff2');
}