
/* region Material Switch */

/* Copied from https://codepen.io/finnhvman/pen/pOeyjE */

.material-switch {
    z-index: 0;
    position: relative;
    display: inline-block;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Roboto Light", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* Input */
.material-switch > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    right: -2px;
    top: -1px;
    display: block;
    border-radius: 100%;
    width: 60px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.38);
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
}

/* Span */
.material-switch > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

/* Track */
.material-switch > span::before {
    content: "";
    float: right;
    display: inline-block;
    margin: 5px 0 5px 10px;
    border-radius: 36px;
    width: 60px;
    height: 34px;
    background-color: rgba(0, 0, 0, 0.38);
    vertical-align: top;
    transition: background-color 0.2s, opacity 0.2s;
}

/* Thumb */
.material-switch > span::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 16px;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: background-color 0.2s, transform 0.2s;
}

/* Checked */
.material-switch > input:checked {
    background-color: rgb(173, 20, 87);
}

.material-switch > input:checked + span::before {
    background-color: rgba(173, 20, 87, 0.6);
}

.material-switch > input:checked + span::after {
    background-color: rgb(173, 20, 87);
    transform: translateX(22px);
}

/* Hover, Focus */
.material-switch:hover > input {
    opacity: 0.05;
}

/* Active */
.material-switch > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.material-switch > input:active + span::before {
    background-color: rgba(173, 20, 87, 0.6);
}

.material-switch > input:checked:active + span::before {
    background-color: rgba(0, 0, 0, 0.38);
}

/* Disabled */
.material-switch > input:disabled {
    opacity: 0;
}

.material-switch > input:disabled + span {
    color: rgb(0, 0, 0);
    opacity: 0.38;
    cursor: default;
}

.material-switch > input:disabled + span::before {
    background-color: rgba(0, 0, 0, 0.38);
}

.material-switch > input:checked:disabled + span::before {
    background-color: rgba(173, 20, 87, 0.6);
}

/* endregion Material Switch */

/* region Material Button*/

/* Copied from https://codepen.io/finnhvman/pen/MQyJxV */

.material-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 64px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background-color: rgb(173, 20, 87);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: "Roboto Light", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.material-button::-moz-focus-inner {
    border: none;
}

/* Overlay */
.material-button::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.material-button::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.material-button:hover {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.material-button:hover::before {
    opacity: 0.2;
}

/* Active */
.material-button:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.material-button:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.material-button:disabled {
    color: rgba(0, 0, 0, 0.38);
    background-color: rgba(0, 0, 0, 0.12);
    box-shadow: none;
    cursor: initial;
}

.material-button:disabled::before {
    opacity: 0;
}

.material-button:disabled::after {
    opacity: 0;
}

/* endregion Material Button*/

/* region Material Select */

/* Copied from https://codepen.io/pavelvaravko/pen/qjojOr */

.select-text {
    position: relative;
    font-family: inherit;
    background-color: transparent;
    width: 250px;
    padding: 10px 10px 10px 0;
    font-size: 18px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

/* Remove focus */
.select-text:focus {
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

/* Use custom arrow */
.select .select-text {
    appearance: none;
    -webkit-appearance: none
}

.select:after {
    position: relative;
    bottom: 24px;
    left: 40%;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, 0.15);
    pointer-events: none;
}

/* BOTTOM BARS ================================= */
.select-bar {
    align-content: center;
    align-self: center;
    position: relative;
    display: block;
    width: 300px;
}

.select-bar:before, .select-bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: rgb(173, 20, 87);
    transition: 0.3s ease all;
}

.select-bar:before {
    left: 50%;
}

.select-bar:after {
    right: 50%;
}

/* active state */
.select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
    width: 50%;
}

/* endregion Material Select*/